/* Import Roboto, Inter, and Poppins in one optimized request */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* Tailwind base layers */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* VideoContentSection animations */
@keyframes fadeInLeft {
  0% { opacity: 0; transform: translateX(-50px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out;
}

.animation-delay-150 {
  animation-delay: 150ms;
}

